:root {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h3 {
  width: 80%;
  margin : 2rem auto;
  text-align: center;
  font-size: 4.7rem;
  text-shadow: 0.3rem 0.3rem 0.3rem rgb(211, 223, 99);
}

h3 {
  font-size: 2.6rem;
}

hr {
  width :75%;
  margin: 4rem auto;
  color : black;
}

.CardContainer {
  width: 80%;
  margin: 3rem auto;
}